<div class="animated fadeIn">

    <div class="card">

        <div class="card-header">
            <label>Task A & B</label>
        </div>

        <div class="card-body">

            <div class="container">

                <fieldset>
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fields1" [model]="model"></formly-form>
                    </form>
                    <button type="submit" class="btn btn-primary submit-button float-right mx-1 my-1 "
                        (click)="calculate()" [disabled]="!form.valid">Calculate</button>
                    <button type="submit" class="btn btn-primary submit-button float-right mx-1 my-1"
                        (click)="validate()" [disabled]="!form.valid">Validate</button>
                </fieldset>
                
            </div>
        </div>
    </div>
</div>