<div class="animated fadeIn">

  <div class="card">
    <div class="card-header">
      <label>Task B</label>
    </div>

    <div class="card-body">
      <div class="container">

        <div class="row">
          <form [formGroup]="form">

            <div class="row">

              <div class="col-md-12">

                <div class="md-form form-group">
                  <input type="text" class="form-control" id="expresion" formControlName="expresion"
                    (keyup)="validate($event)" placeholder="Insert">
                </div>
              </div>



              <div class="col-md-12">

                <div class="md-form form-group">
                  <input type="text" class="form-control" id="result" formControlName="result"
                    placeholder="Result">
                </div>
              </div>

              <div class="row" *ngIf="history?.length > 0">
              <ul>
                  <li *ngFor="let hero of history " >
                    {{ hero }}
                  </li>
                </ul>
              </div>
             

            </div>


            <div class="col-md-12">

                <div class="md-form form-group">
                  <label>Input Number Is Generated Randomly</label>
                  <input type="text" class="form-control" id="result" formControlName="random"
                   placeholder="Random">
                </div>
              </div>

          </form>
        </div>



      </div>
    </div>
  </div>
</div>